* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

body section {
    display: flex;
    background-image: linear-gradient(0.7turn, rgb(34, 39, 34), rgb(31, 38, 31), rgb(15, 16, 15));
    width: 400px;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border-right: 2px solid rgb(85, 182, 85);
    border-top: 2px solid rgb(85, 182, 85);
    box-shadow: inset -5px -5px 5px rgb(14, 16, 14), 0px 5px 10px rgb(172, 172, 172);
}

h1 {
    font-size: 30px;
    color: rgb(90, 112, 92);
}

h1 span {
    font-size: 14px;
    color: rgb(176, 176, 176);
    font-family: Seaweed Script;
}

#output {
    height: 50px;
    background-image: linear-gradient(rgb(73, 104, 76), rgb(82, 135, 90));
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    font-family: VT323;
    font-size: 30px;
    border-left: 1.2px solid rgb(156, 175, 157);
    border-bottom: 2px solid rgb(79, 87, 78);
    color: rgb(168, 188, 171);
    box-shadow: inset 5px 5px 5px rgb(61, 88, 66);
}

#container {
    display: flex;
    gap: 10px;
}

#numbersDiv {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    border: 2px solid rgba(78, 78, 78, 0.418);
    border-radius: 5px;
}

#funcDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 5px;
    border: 2px solid rgba(78, 78, 78, 0.418);
    border-radius: 5px;
    gap: 5px;
}


.func-div button,
#numbersDiv button {
    border: none;
    flex: 1;
    padding: 10px;
    border-radius: 3px;
    color: rgb(221, 221, 221);
    border-left: 2px solid rgb(160, 160, 160);
    border-bottom: 2px solid rgb(103, 103, 103);
    cursor: pointer;
    background-image: linear-gradient(0.7turn, rgb(124, 124, 124), rgb(84, 84, 84));
}

#evaluateBtn {
    background-image: linear-gradient(0.7turn, rgb(34, 122, 44), rgb(80, 125, 87));
}




